@import '../../../../Components/GlobalStyle/GlobalStyle.scss';
//Navbar logo
$navbar-height: 100px;
$dropdown-margin: 20px;
$search-height: 40px;
.navbar {
    display: flex;
    align-items: center;
    padding: 0 60px;
    height: $navbar-height;
    margin-top: 10px;
    position: relative;
    // overflow: hidden !important;
}
.brand {
    width: 147px;
    float: right;
}

.logo {
    float: right;
}
//Navbar nav
.navbar-nav {
    flex: 1;
    vertical-align: middle;
}

.nav {
    display: flex;
    justify-content: center;
    height: calc($navbar-height - $dropdown-margin);
  
}

.dropdown {
    cursor: pointer;
    list-style: none;
    margin-top: calc($dropdown-margin / 2);
    transition-delay: 3s;
    &:hover .dropdown-icon {
        color: #f15e2c;
        cursor: pointer;
        -webkit-transition: .7s all;   
        -webkit-transition-delay: .2s; 
        -moz-transition: .7s all;   
        -moz-transition-delay: .2s; 
        -ms-transition: .7s all;   
        -ms-transition-delay: .2s; 
        -o-transition: .7s all;   
        -o-transition-delay: .2s; 
        transition: .7s all;   
        transition-delay: .2s; 
        transform: rotate(180deg);
    }

    &:hover .dropdown-menu {
        transition-delay: 3s;
        display: block;
    }

    &:hover .dropdown-link{
        color: #f15e2c;
    }
    &:hover .arrow {
        display: block;
    }
}

.dropdown-link {
    position: relative;
    display: inline-block;
    padding: 30px 20px 0px;
    text-decoration: none;
    height: calc($navbar-height - $dropdown-margin);
}

.arrow {
    display: none;
    position: absolute;
    border-width: 8px;  
    border-style: solid;  
    border-color: transparent transparent #555 transparent;  
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);     
}

.dropdown-link, .dropdown-icon {
    color: $text-color;
    font-size: 2.2rem;
    font-weight: 700;
}

.nav .dropdown-icon {
    font-size: 2rem;
    vertical-align: middle;
}

.dropdown-image {
    display: inline-block;
    position: relative;
    top: -15px;
}
//Dropdown menu
.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

//Navbar search
.navbar-search {
    margin-top: $dropdown-margin;
}

.form-control {
    height: $search-height;
    width: 280px;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    opacity: .6;

    &:focus-within {
        opacity: 1;
        outline: 1px solid #555;
    }
}

.icon {
    position: relative;
    width: 40px;
    height: 100%;
    &:hover .icon-search  {
        opacity: 1;
    }
    &:hover  {
        cursor: pointer;
    }
}

.navbar-search .icon-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    font-size: 2.4rem;
    opacity: .7;
}

.search-input {
    flex: 1;
    height: $search-height;
    border: transparent;
    height: 100%;
    outline: none;
    font-size: 1.6rem;
}
